[submodule "Unit1-01/ICS4U-Unit1-01-Typescript"]
	path = Unit1-01/ICS4U-Unit1-01-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-01-Typescript.git
[submodule "Unit1-01/ICS4U-Unit1-01-Java"]
	path = Unit1-01/ICS4U-Unit1-01-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-01-Java.git
[submodule "Unit1-02/ICS4U-Unit1-02-Typescript"]
	path = Unit1-02/ICS4U-Unit1-02-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-02-Typescript.git
[submodule "Unit1-02/ICS4U-Unit1-02-Java"]
	path = Unit1-02/ICS4U-Unit1-02-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-02-Java.git
[submodule "Unit1-03/ICS4U-Unit1-03-Typescript"]
	path = Unit1-03/ICS4U-Unit1-03-Typescript
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-03-Typescript.git
[submodule "Unit1-03/ICS4U-Unit1-03-Java"]
	path = Unit1-03/ICS4U-Unit1-03-Java
	url = https://github.com/CristianoSellitto/ICS4U-Unit1-03-Java.git
